.paginationContainer {
  margin-bottom: 20px;
}

.paginationItem {
  margin-right: 1px;
  font-size: 23px;
  border: 0;
  background: 0;
  color: #333;
  outline: 0;
  cursor: pointer;
}

.paginationContainer {
  .activePage {
    font-weight: 700;
    color: red;
  }
}

.btn {
  padding: 15px 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: orange;
  color: #fff;
}

.btnNext {
  margin-top: 10px;
}

.btnPrev {
  margin-bottom: 10px;
}